.grid-container {
  width: 40%
}

.box {
  float: left;
  height: 10vw;
  margin: 0.1%;
  border: 0.3vw solid black;
  width: 22%;
  text-align: center;
  font-size: 5vw;
  color: white;
  vertical-align: middle;
}

.red {
  background-color: red;
}

.grey {
  background-color: grey;
}

.number {
  display: inline-block;
  vertical-align: middle;
  line-height: 10vw;
}
